.btnWrapper-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4em;

  width: 275px;
}

.descriptor.default {
  color: var(--clr-gray-1-text);
}

.descriptor.hover-color {
  color: var(--clr-gray-3-text);
}

.descriptor.black-text {
  color: var(--clr-black-text);
}
