.btnWrapper-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4em;

  width: 250px;
}

.descriptor {
  color: var(--clr-gray-1-text);
}

.descriptor.hover-color {
  color: var(--clr-gray-3-text);
}
